.accordion_info {
    width: 70%;
    margin: 0 auto;
    color: aqua;
}

.accordion-header {
    background-color: #0399ff;
}

.accordion-button[aria-expanded="true"] {
    background-color: #0399ff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #212529;
}

#heading {
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

#subheading {
    color: wheat;
    font-style: italic;
    text-align: center;
    margin-bottom: 25px;
}

.accordion-button {
    font-size: 18px;
    border-radius: 20px;
    background-color: #0399ff;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.img-fluid {
    margin: 5px auto;
    scale: 0.9;
    border-radius: 20px;
}

.accordion-item {
    border-radius: 20px;
    border: none;
    margin: 20px 0;
}

a[rel="image-source"] > p {
    text-align: end;
    margin: 10px 10px;
}

#img-title {
    font-weight: 300;
}

.new-img {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.btn-outline-secondary {
    font-size: 20px;
    color: white;
}

.login_btn {
    position: fixed;
    top: 40px;
    right: 80px;
}

.login_btn {
    position: absolute;
    right: 40px;
    top: 50px;
}

.login_methods {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.popup_btn {
    background-color: white;
    color: black ;
    border: none;
}

.popup_btn > img {
    padding-right: 20px;
    margin: 5px 0px;
}

.popup_btn:hover {
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 15px hsl(0, 10%, 10%);
}

.popup_btn:active {
    background-color: white !important;
    color: black !important;
    box-shadow: inset 0px 0px 15px hsl(0, 10%, 10%);
}
