.accordion_info {
    width: 70%;
    margin: 0 auto;
    color: aqua;
}

.accordion-header {
    background-color: #0399ff;
}

.accordion-button[aria-expanded="true"] {
    background-color: #0399ff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #212529;
}

#heading {
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

#subheading {
    color: wheat;
    font-style: italic;
    text-align: center;
    margin-bottom: 25px;
}

.accordion-button {
    font-size: 18px;
    background-color: #0399ff;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

#src_link {
    display: block;
    text-align: end;
    margin-bottom: 20px;
}

.img-fluid {
    margin: 5px auto;
    scale: 0.8;
    border-radius: 20px;
}

.accordion-item {
    border-radius: 20px;
    border: none;
    margin: 20px 0;
}

a[rel="image-source"] > p {
    text-align: end;
    margin: 10px 10px;
}

#img-title {
    font-weight: 300;
}

.new-img {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.btn-outline-secondary {
    font-size: 20px;
    color: white;
}

.login_btn {
    position: absolute;
    top: 50px;
    right: 150px;
}

.login_btn > button {
    position: absolute;
    background-color: #EE4266;
    border: 2px solid #212529;
    padding: 5px 20px;
}

.video_media {
    margin: 30px 0px;
}

#login_link:hover {
    background-color: white;
    color: #EE4266;
    border: 2px solid #EE4266;
}

#login_link:focus {
    background-color: white;
    color: #EE4266;
    border: 2px solid #EE4266;
}

.login_methods {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.popup_btn {
    background-color: white;
    color: black ;
    border: none;
}

.popup_btn > img {
    padding-right: 20px;
    margin: 5px 0px;
}

.popup_btn:hover {
    background-color: white;
    color: black;
    box-shadow: inset 0px 0px 15px hsl(0, 10%, 10%);
}

.popup_btn:active {
    background-color: white !important;
    color: black !important;
    box-shadow: inset 0px 0px 15px hsl(0, 10%, 10%);
}

#user_icon {
    margin-bottom: 5px;
    margin-right: 10px;
}

.menu_btn:hover {
    background-color: hsl(0, 10%, 88%);
}

.menu_btn {
    font-size: 16px;
    padding-right: 30px;
}

.menu_btn:active {
    color: #212529;
}

.menu_dropdown {
    position: absolute;
    right: 40px;
    top: 50px;
}

.menu_dropdown > button {
    background-color: #EE4266;
    border: none;    
}

.menu_dropdown > button:active {
    background-color: #EE4266;
    border: none;
}

.menu_dropdown > button:focus {
    background-color: #EE4266 !important;
}

.menu_dropdown > button:not(:focus) {
    background-color: #EE4266;
    border: none;
}

.user_profile {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin: 20px auto;
}

.user_profile > img {
    height: 130px;
    width: 130px;
    margin: 30px auto;
    box-shadow: 0 5px 20px hsl(0, 50%, 4%);
}

.user_profile > h1 {
    margin: 10px auto;
}

.user_profile > p {
    margin: 20px auto;
    color: white;
    font-size: 20px;
}

.profile_name {
    color: white;
}

#account-linked-error {
    width: 30%;
    margin: 0 auto;
}

.profile_back {
    border: none;
    position: absolute;
    top: 80px;
    left: 50px;
}

.like_icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.like_icon:hover {
    cursor: pointer;
}

.liked_icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.liked_icon:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-delay: 200ms;
}

.card {
    margin: 50px auto;
    width: 800px;
    border: none;
}

.card-title {
    font-size: 2rem;
}

.liked_image {
    height: 600px;
}

.unlike_image {
    margin: 10px 0;
    margin-top: 20px;
}

.desc_liked_image {
    margin: 10px 20px;
    margin-top: 20px;
}

.unlike_image:active {
    border: none;
}